@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');
html, body {
  height: 100%;
  width: 100%;
  min-height: 75px;
  font-family: 'Poppins', sans-serif;
  color: #222;
}
.navbar {
  padding: .8rem;
}
.navbar-custom {
  background-color: #034f84;
}
.nav-link {
  font-size: 1.1em !important;
  padding-right: 0px;
  color: rgb(255, 255, 255);
}
.padding {
  padding-bottom: 2rem;
}
.welcome {
  width: 100%;
  margin: 0 auto;
  padding-top: 2rem;
}
.welcome hr {
  border-top: 2px solid #b4b4b4;
  width: 95%;
  margin-top: .3rem;
  margin-bottom: 1rem;
}
footer {
  background-color: #3f3f3f;
  color: #d5d5d5;
  padding-top: .2rem;
}
hr.light {
  border-top: 1px solid #d5d5d5;
  width: 75%;
}
h6 a.listtabel {
  background-color: #DCDCDC;
  padding: 15px;
  margin-top: -5px;
  font-size: 0.7rem;
  color: black;
  font-size: 12px;
  position: relative;
  min-width: 200px;
  display: block;
  border-radius: 10px
}
div.sidelist {
  min-height: 850px;
  min-width: 295px;
}
div.monitor-body{
  min-width: 920px;
  margin-left: -15px;
}

.menuutama {
    text-align: center;
}

.cardsidebar{
  margin: 0px;
}
.dropdown {
    position: relative;
    display: block;
    text-decoration: none;
}
.dropdown-child {
    margin-left: 10px;
    display: none;
    background-color: transparent;
    min-width: 100px;
}
.dropdown-child a {
    padding: -10px;
    background-color: #b4b4b4;
    color: white;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown-child {
    display: block;
}
.listtabel:active{
  color: blue;
}

.dropdown-child a:active{
  color: blue;
}
.card-header{
  margin-bottom: 5px;
  text-align: center;
  padding-bottom: 5px;

}
.judul-monitor {
  text-align: left;
}

.card{
  margin-top: -14px;
  margin-left: -10px;
  margin-right: -15px;
  min-height: 500px;
}

.breadcrumb{
  margin-top: -28px;
  margin-left: -10px;
  margin-right: -15px;
}

#inputToken {
  margin-bottom: 1rem;
}

#numLaporan {
  font-size: 5rem;
}




/*---Media Queries --*/
@media (max-width: 992px) {

  }
@media (max-width: 768px) {
  
}
@media (max-width: 576px) {
  
}


/*---Firefox Bug Fix --*/
.carousel-item {
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}
/*--- Fixed Background Image --*/
figure {
  position: relative;
  width: 100%;
  height: 7%;
  margin: 0!important;
}
.fixed-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#fixed {
  background-image: url('batik.jpg');
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  will-change: transform;
}
/*--- Bootstrap Padding Fix --*/
[class*="col-"] {
    padding: 1rem;
}

/*ul li {
  position: relative;
  display: block;
  list-style: none;
}

ul li a {
  color: #262626;
  
}
.active{
  background-color: #262626;
  color: #fff;
}*/



/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/








